body {
    margin: 0;
    background: #f7f7f7;
    color: #222;
}

header, footer {
    background: #0078d7;
    color: white;
    text-align: center;
    padding: 15px;
}

.menu {
    list-style: none;
    padding: 0;
}
.menu li {
    display: inline-block;
    margin: 0 15px;
}
.galeria {
    display: flex;
    justify-content: center;   
    align-items: flex-start;    
    gap: 25px;                  
    margin: 40px auto;
    flex-wrap: nowrap;         
    max-width: 1000px;
}


.red {
    background: white;
    width: 300px;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.red img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.mapa {
    text-align: center;
    margin: 30px;
}
.mapa iframe {
    width: 80%;
    height: 300px;
    border: none;
}

.servicios {
    text-align: center;
    margin: 30px;
}
.lista-servicios {
    display: inline-block;
    text-align: left;
}


